body {
  text-align: center;
  font-family: "Happy Monkey", system-ui;
  background: #a2d2ff;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bff-img {
  width: 150px;
  border-radius: 50%;
  /* background: #EFB0C9; */
  border: 6px solid #EFB0C9;
}

h1, h2, h3, h4, p {
  text-shadow: 0px 0px 1px black;
}

h2, h4 {
  background: #EFB0C9;
}
